@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'base/reset.scss';

* {
  font-family: 'Roboto', sans-serif;
}

.relative-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

// left setting bar
.left {
  background: #111;
  // border-right: 1px solid #e2e2e2;
  width: 150px;
  padding: 30px;
  padding-right: 20px;
  box-shadow: 0px 1px solid #333;
  position: fixed;
  height: 100vh;
}

.tab-list-logout {
  color: #fff;
  cursor: pointer;
}

.tab-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  div {
    cursor: pointer;
    color: #fff;
    padding: 3px;
    margin: 3px;
    width: 100px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 500px;
    opacity: 0.5;
  }

  div:hover {
    opacity: 1;
  }
}

// right setting bar
.right {
  margin-left: 150px;
  color: #fff;
  background: linear-gradient(0deg, #111, #222 85%, #444 95%, #555);
  width: 90vw;
  overflow-x: hidden;
  height: 100vh;
}

.noti-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.noti-list-header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;

  h1 {
    text-transform: capitalize;
    font-size: 40px;
    padding-left: 50px;
    font-family: sans-serif;
    font-weight: 700;
  }
}

.noti-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.noti-list-items {
  margin-top: 120px;
}

.noti-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 500px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fccf00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fccf00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
